<config>
	<parent-provides>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
		<service name="Gui"/>
		<service name="Rtc"/>
		<service name="File_system"/>
		<service name="Report"/>
		<service name="Play"/>
		<service name="Record"/>
	</parent-provides>

	<default-route> <any-service> <parent/> <any-child/> </any-service> </default-route>

	<default caps="100"/>

	<start name="terminal">
		<resource name="RAM" quantum="20M"/>
		<provides> <service name="Terminal"/> </provides>
		<config copy="no" paste="no">
			<initial width="800" height="600"/>
			<vfs> <dir name="fonts"> <fs/> </dir> </vfs>
		</config>
		<route>
			<service name="Gui">         <parent label="terminal"/> </service>
			<service name="File_system"> <parent label="fonts"/> </service>
			<any-service> <parent/> <any-child/> </any-service>
		</route>
	</start>

	<start name="cmus" caps="220">
		<resource name="RAM" quantum="32M"/>
		<config ld_verbose="no" verbose="no">
			<env key="TERM" value="screen"/>
			<env key="HOME" value="/home"/>
			<env key="USER" value="user"/>
			<env key="LC_CTYPE" value="en_US.UTF-8"/>

			<vfs>
				<dir name="dev">
					<dir name="pipe"> <pipe/> </dir>
					<log/> <rtc/> <terminal/>
					<oss name="dsp"/>
				</dir>
				<dir name="media"> <fs label="media"/> </dir>
				<dir name="home"> <fs label="home"/> </dir>
				<dir name="lib">
					<dir name="cmus">
						<dir name="ip">
							<rom name="cmus_ip_mad.lib.so"/>
							<rom name="cmus_ip_flac.lib.so"/>
							<rom name="cmus_ip_opus.lib.so"/>
							<rom name="cmus_ip_vorbis.lib.so"/>
						</dir>
						<dir name="op"> <rom name="cmus_op_oss.lib.so"/> </dir>
					</dir>
				</dir>
				<dir name="share">
					<dir name="cmus"> <rom name="rc"/> </dir>
				</dir>
			</vfs>
			<libc stdin="/dev/terminal" stdout="/dev/terminal" stderr="/dev/log"
			      rtc="/dev/rtc" pipe="/dev/pipe">
				<pthread placement="single-cpu"/>
			</libc>
		</config>
		<route>
			<service name="Terminal"> <child name="terminal"/> </service>
			<service name="File_system" label="media"> <parent label="media"/> </service>
			<service name="File_system" label="home">  <parent label="home"/> </service>
			<any-service> <parent/> <any-child/> </any-service>
		</route>
	</start>

</config>
