<config>
	<pythonpath name="/python/Lib/:" />
	<file name="hello.py" />
	<vfs>
		<dir name="dev">
			<log/>
			<jitterentropy name="urandom" />
			<jitterentropy name="random" />
			<rtc/>
			<zero/>
		</dir>
		<dir name="python">
			<tar name="python3.tar" />
		</dir>
		<fs />
	</vfs>
	<libc stdin="/dev/zero" stdout="/dev/log" stderr="/dev/log" rtc="/dev/rtc"/>
</config>
