<config>
	<parent-provides>
		<service name="CPU"/>
		<service name="File_system"/>
		<service name="LOG"/>
		<service name="Gui"/>
		<service name="Nic"/>
		<service name="PD"/>
		<service name="Report"/>
		<service name="RM"/>
		<service name="ROM"/>
		<service name="Rtc"/>
		<service name="Timer"/>
		<service name="Play"/>
		<service name="Record"/>
		<service name="Capture"/>
	</parent-provides>

	<default-route> <any-service> <parent/> <any-child/> </any-service> </default-route>

	<start name="jitter_sponge" caps="250">
		<resource name="RAM" quantum="1M"/>
		<provides>
			<service name="Terminal"/>
		</provides>
		<config/>
	</start>

	<start name="falkon" caps="9750">
		<resource name="RAM" quantum="1990M"/>
		<config clipboard="yes">
			<vfs>
				<dir name="dev">
					<dir name="pipe"> <pipe/> </dir>
					<log/>
					<terminal name="random" raw="yes"/>
					<terminal name="urandom" raw="yes"/>
					<rtc/>
					<oss name="dsp"/>
					<capture/>
				</dir>
				<dir name=".config"> <fs label="config"/> </dir>
				<dir name="downloads"> <fs label="downloads"/> </dir>
				<dir name="shm"> <qtwebengine_shm/> </dir>
				<dir name="socket">
					<lwip dhcp="yes"/>
				</dir>
				<dir name="tmp"> <ram/> </dir>
				<tar name="qt5_dejavusans.tar"/>
				<tar name="qt5_declarative_qml.tar"/>
				<tar name="qt5_libqgenode.tar"/>
				<tar name="qt5_libqsqlite.tar"/>
				<tar name="qt5_libqsvg.tar"/>
				<tar name="qt5_webengine_qml.tar"/>
				<tar name="qt5_webengine_resources.tar"/>
				<tar name="qt5_webengine_translations.tar"/>
				<tar name="falkon_theme.tar"/>
				<ram/>
			</vfs>
			<libc stdout="/dev/log" stderr="/dev/log" pipe="/dev/pipe" rtc="/dev/rtc" socket="/socket" pid="1">
				<mmap align_log2="21"/>
			</libc>
			<arg value="falkon"/>
			<arg value="--single-process"/>
			<arg value="--no-sandbox"/>
			<arg value="--disable-gpu-compositing"/>
			<arg value="--enable-logging"/>
			<arg value="--log-level=3"/>
			<arg value="--v=0"/>
			<env key="QT_QUICK_BACKEND" value="software"/>
		</config>
		<route>
			<service name="File_system" label="config"> <parent label="config"/> </service>
			<service name="File_system" label="downloads"> <parent label="downloads"/> </service>
			<service name="Report" label="clipboard"> <parent label="clipboard"/> </service>
			<service name="ROM" label="clipboard"> <parent label="clipboard"/> </service>
			<service name="ROM" label="mesa_gpu_drv.lib.so">
				<parent label="mesa_gpu-softpipe.lib.so" />
			</service>
			<service name="Terminal"> <child name="jitter_sponge"/> </service>
			<any-service> <parent /> </any-service>
		</route>
	</start>
</config>
