<config nic_client_enable="no">
	<network apn="internet.eplus.de" user="eplus" password="eplus" pin="XXXX"/>
	<default-domain interface="10.0.3.1/24" ip_first="10.0.3.2" ip_last="10.0.3.200"/>
	<vfs>
		<dir name="dev">
			<log/>
			<inline name="rtc">2020-08-05 00:01</inline>
			<dir name="pipe"> <pipe/> </dir>
			<terminal name="cdc-wdm0" raw="yes"/>
		</dir>
		<ram/>
	</vfs>
	<libc stdout="/dev/log" stderr="/dev/log" rtc="/dev/rtc" pipe="/dev/pipe"/>
</config>
